html {
  background: slategray url(../images/background.jpg) no-repeat;
}

body {
  min-height: 100vh;
  animation: fadein 1s;
}

#answer-gif {
  max-width: 80%;
}

.answers {
  margin: 1rem auto 1rem auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
